
.chessbox
{
display: grid;
width: 800px;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(8, 1fr);
border: 30px solid rgb(172, 82, 9);
border-style: ridge;
margin-left: 20%;
margin-right: 15%;
margin-top: 5%;
margin-bottom: 5%;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em; 
} 
.white
{
    background-color: white;
    color: black;
    width: 100px;
    height: 100px;
}
.black{
    background-color:  rgb(8, 153, 110);
    /*color:white;*/
    width: 100px;
    height: 100px;
}
